{% extends "home/wrapper.html" %}

{% block content %}

{% if form.errors %}
  <p>Такой пары пользователь/пароль не существует.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вашей учётной записи нет доступа к этой странице.</p>
  {% else %}
    <p>Пожалуйста, войдите для посмотра этой страницы</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>
<span id="error_span">{{error}}</span><br>
<input type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />
  {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
<p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
</form>

{% endblock %}